<!-- <mat-toolbar color="primary">
  Meus livros lidos
</mat-toolbar>
<a [routerLink]="['/livro/novo']">Novo</a>
<a [routerLink]="['/']" (click)="logout()">Logout</a>
<table mat-table [dataSource]="livros" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let livro"> {{livro.id}} </td>
  </ng-container>
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let livro"> <a [routerLink]="['/livro/', livro.id]">{{livro.nome}}</a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table> -->
